/* Estilo geral */
body {
    background-color: #1e1e1e;
    color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilo para a navbar */
nav {
    background-color: #333;
    padding: 1em;
    text-align: center;
}

nav a {
    color: #f0f0f0;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    font-size: 1.2em;
}

nav a:hover {
    color: #00d4ff;
}

/* Estilo para os títulos */
h1 {
    font-size: 2.5em;
    color: #00d4ff;
    text-align: center;
    margin-top: 2em;
}

/* Estilo para os links dentro das páginas */
div a {
    color: #00d4ff;
    font-size: 1.1em;
    text-decoration: none;
}

div a:hover {
    color: #00ff88;
}

/* Estilo para as páginas */
div {
    text-align: center;
    margin-top: 50px;
}

/* Estilo para as imagens */
img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}
